<section id="services" class="services-section">
  <div class="container">
    {% set eyebrow = 'Featured Services' %}
    {% set title = 'Trusted Academic Support, Delivered Clearly' %}
    {% set description = 'A focused selection of our most requested services, designed to help you finish coursework, research, programming and academic writing with confidence.' %}
    {% include 'components/section_header.html' %}
    <div class="row g-4">
      <div class="col-lg-3 col-md-6">
        {% set icon = '<i class="bi bi-journal-text"></i>' %}
        {% set title = 'Academic Writing' %}
        {% set excerpt = 'Structured support for essays, reports and coursework.' %}
        {% set url = url_for('main.academic_writing') %}
        {% include 'components/service_card.html' %}
      </div>
      <div class="col-lg-3 col-md-6">
        {% set icon = '<i class="bi bi-search"></i>' %}
        {% set title = 'Research & Dissertation' %}
        {% set excerpt = 'Clear planning, reviews and dissertation guidance.' %}
        {% set url = url_for('main.research_dissertation') %}
        {% include 'components/service_card.html' %}
      </div>
      <div class="col-lg-3 col-md-6">
        {% set icon = '<div class="service-icon-gradient"><i class="bi bi-code-slash"></i></div>' %}
        {% set title = 'Programming' %}
        {% set excerpt = 'Practical help for coding, debugging and technical tasks.' %}
        {% set url = url_for('main.programming') %}
        {% include 'components/service_card.html' %}
      </div>
      <div class="col-lg-3 col-md-6">
        {% set icon = '<i class="bi bi-pencil-square"></i>' %}
        {% set title = 'Editing & Proofreading' %}
        {% set excerpt = 'Polished writing with careful formatting and citation support.' %}
        {% set url = url_for('main.editing_proofreading') %}
        {% include 'components/service_card.html' %}
      </div>
    </div>
  </div>
</section>
